@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%; /* #FFFFFF */
    --foreground: 222.2 84% 4.9%; /* #050B26 */
    --card: 0 0% 100%; /* #FFFFFF */
    --card-foreground: 222.2 84% 4.9%; /* #050B26 */
    --popover: 0 0% 100%; /* #FFFFFF */
    --popover-foreground: 222.2 84% 4.9%; /* #050B26 */
    --primary: 221.2 83.2% 53.3%; /* #2F65FF */
    --primary-foreground: 210 40% 98%; /* #F0F6FF */
    --secondary: 210 40% 96.1%; /* #F0F6FF */
    --secondary-foreground: 222.2 47.4% 11.2%; /* #1D2B4A */
    --muted: 210 40% 96.1%; /* #F0F6FF */
    --muted-foreground: 215.4 16.3% 46.9%; /* #6C7188 */
    --accent: 210 40% 96.1%; /* #F0F6FF */
    --accent-foreground: 222.2 47.4% 11.2%; /* #1D2B4A */
    --destructive: 0 84.2% 60.2%; /* #FF2B2B */
    --destructive-foreground: 210 40% 98%; /* #F0F6FF */
    --border: 214.3 31.8% 91.4%; /* #E9EEF3 */
    --input: 214.3 31.8% 91.4%; /* #E9EEF3 */
    --ring: 221.2 83.2% 53.3%; /* #2F65FF */
    --radius: 0.5rem; /* This is a length value, not a color */

    --novel-highlight-default: #ffffff;
    --novel-highlight-purple: #f6f3f8;
    --novel-highlight-red: #fdebeb;
    --novel-highlight-yellow: #fbf4a2;
    --novel-highlight-blue: #c1ecf9;
    --novel-highlight-green: #acf79f;
    --novel-highlight-orange: #faebdd;
    --novel-highlight-pink: #faf1f5;
    --novel-highlight-gray: #f1f1ef;
  }

  .dark {
    --background: 222.2 84% 4.9%; /* #050B26 */
    --foreground: 210 40% 98%; /* #F0F6FF */
    --card: 222.2 84% 4.9%; /* #050B26 */
    --card-foreground: 210 40% 98%; /* #F0F6FF */
    --popover: 222.2 84% 4.9%; /* #050B26 */
    --popover-foreground: 210 40% 98%; /* #F0F6FF */
    --primary: 217.2 91.2% 59.8%; /* #3383FF */
    --primary-foreground: 222.2 47.4% 11.2%; /* #1D2B4A */
    --secondary: 217.2 32.6% 17.5%; /* #2A3447 */
    --secondary-foreground: 210 40% 98%; /* #F0F6FF */
    --muted: 217.2 32.6% 17.5%; /* #2A3447 */
    --muted-foreground: 215 20.2% 65.1%; /* #8E99A8 */
    --accent: 217.2 32.6% 17.5%; /* #2A3447 */
    --accent-foreground: 210 40% 98%; /* #F0F6FF */
    --destructive: 0 62.8% 30.6%; /* #C61F1F */
    --destructive-foreground: 210 40% 98%; /* #F0F6FF */
    --border: 217.2 32.6% 17.5%; /* #2A3447 */
    --input: 217.2 32.6% 17.5%; /* #2A3447 */
    --ring: 224.3 76.3% 48%; /* #1A75FF */

    --novel-highlight-default: #000000;
    --novel-highlight-purple: #3f2c4b;
    --novel-highlight-red: #5c1a1a;
    --novel-highlight-yellow: #5c4b1a;
    --novel-highlight-blue: #1a3d5c;
    --novel-highlight-green: #1a5c20;
    --novel-highlight-orange: #5c3a1a;
    --novel-highlight-pink: #5c1a3a;
    --novel-highlight-gray: #3a3a3a;
  }
}
